.button 
    padding: 3px
    background-color: #00768b
    border: none
    color: white
    width: 100%
    justify-content: center
    align-items: center
    display: flex
    border-radius: 5px
    transition: 0.3s
    cursor: pointer
    font-weight: bold
    height: 100%
    &:hover
        opacity: 0.7

