* {
    font-size: 1.1rem;
}

html, body {
    height: 100%;
    margin: 0;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.off {
    display: none !important;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.register__form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.register__login-link {
    text-align: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.login__register-link {
    text-align: center;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home__nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    background-color: powderblue;
    padding: 10px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    align-items: center;
  }

.profile__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.profile__submit {
    width: 50%;
    background-color:lightgoldenrodyellow;
    border: none;
    margin-top: 20px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
}

.profile__delete {
     width: 40%;
     background-color: mistyrose;
     border: none;
     margin-top: 50px;
     padding: 12px;
     border-radius: 8px;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
     cursor: pointer;
     font-size: 12px;
}




