
* {
    font-family: 'lato';
    font-size: 12px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-style: normal;
    list-style: none;
    tab-size: 0;
    border-radius: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: auto;
}

img {
    clip-path: circle(47% at 50% 50%);
    align-content: center;
}

/* layout all  es el diseño */

.main {
    display: flex;
    flex-direction: column;
   
    min-height: 100vh; 
    padding: 3px;
    
}

.head {
    background-color:rgba(0, 255, 255, 0.297);
    text-align: center;
    padding: 10px;
    
}

.body {
    
    display: flex;
    flex-direction: row;
    padding: 5px;
    min-height: 90vh;
    gap: 4px;

}

.left {
    background-color:rgba(119, 136, 153, 0.55);
    text-align:start;
    display: flex;
    flex-direction: column;
    width: 170px;
    
}

.right {
    background-color:rgba(240, 128, 128, 0.324)
}

h2 {
    text-align: left;
    font-size: 20px;
    margin: 10px;
    font-weight: bolder;
}

strong {
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
    color: rgba(22, 22, 65, 0.413);
    vertical-align: 10px ;

}

time {
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
    color: rgba(22, 22, 65, 0.413);
    vertical-align: 10px;
}

ul * {
    margin: 8px;
}

ol * {
    margin: 10px;
    list-style:circle;
    list-style-position: inside;
}

.head__nombre {
    text-align: center;
    font-style:inherit;
    font-weight: bold;
    font-size: 30px;
    color: black;
}

.head__cargo {
    font-weight: bolder;
    font-size: 30px;

}

.left__education  * {
    list-style:circle;
    list-style-position: inside;
    

}