@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&family=Space+Mono&display=swap');

/*Resets*/
* {
    font-family: 'Oswald' ;
    font-weight: 300;
    text-decoration: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-style: normal;
    list-style: none;
    tab-size: 0;
    border-radius: 0;
}

html {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
}

/*Layout*/
body {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 0.2px solid #7C99AC;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #D3DEDC;
    color: black;
}

.header__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.header__title h1{
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: .5rem;
    text-transform: uppercase;
    margin: 10px 0;
}

.header__title a {
    width: 15%;
    height: 100%;
    min-width: 65px;
    display: flex;
  }

.header__title a img{
    max-width: 100%;
}

.header__nav{
    border-bottom: 1px solid #7C99AC;
    border-top: 1px solid #7C99AC;
    padding: 10px 20px;
}

.header__nav ul{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

.header__nav a{
    color: black;
    font-size: 13px;
}

.about {
    padding: 0 8%;
}

.about h2{
    color: #7C99AC;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    margin: 4rem 0 2rem;
}

.two-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: center;
}

.two-col img{
    max-width: 100%;
    max-height: 400px;
}

.two-col p{
    margin: auto;
    color: black;
}

.nav__invite{
    margin: 3rem 0;
    padding: 0 7%;
}

.nav__invite p{
    color: black;
}

.invite__buttons {
    margin: 20px 0;
}

.invite__buttons ul {
    display: flex;
    gap: 2%;
    max-width: 100%;
}

.invite__buttons li {
    max-width: 32%;
}

.invite__buttons a {
    display: grid;
    background-color: #ffefef;
    border-radius: 6px;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    max-height: 40px;
    padding: 10px;
    align-content: center;
    justify-content: center;
    color: #7C99AC;
  }

.invite__buttons a:hover{
      background-color: #92A9BD;
}

.invite__buttons a:hover p{
    color: #ffefef;
}

.invite__buttons a:hover img{
    filter: invert(94%) contrast(90%) sepia(1%) saturate(8019%) brightness(113%);
}

.invite__buttons img {
    max-width: 100%;
    min-width: 35px;
}

.invite__buttons p {
    margin: auto;
    text-align: center;
}

.footer {
    text-align: right;
    display: flex;
    flex-direction: column;
    background-color: #92A9BD;
    align-items: center;
    padding: 0 20px 20px;
}

.footer img{
    width: 20%; 
    min-width: 110px;
}

.footer__copy{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.footer__copy * {
    text-align: center;
    color: black;
    margin: auto;
    width: 100%;
    font-size: 12px;
    margin: auto 10px;
  }

@media only screen and (max-width:715px){
.two-col {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.two-col img {
    max-width: 100%;
    max-height: none;
}
.invite__buttons ul {
    display: flex;
    gap: 10px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

.invite__buttons li {
    width: 85%;
    max-width: none;
}

.invite__buttons a {
    display: grid;
    background-color: #ffefef;
    border-radius: 6px;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    max-height: 35px;
    padding: 10px;
    justify-content: center;
    color: #7C99AC;
    align-items: center;
}

.invite__buttons img {
    max-width: 45px;
    margin: auto;
}

.footer__copy {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

}