.update-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.update-password__forum {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.update-password__back-link {
    text-align: center;
}