.delete-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.delete-account__form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.delete-account__back-link {
    text-align: center;
}