.profile
  display: flex
  flex-direction: column
  width: 75%
  align-items: center
  margin-top: 10px


.profile__form
  display: flex
  flex-direction: column
  margin-left: 30%

.profile__title
  display: flex
  flex-direction: column
  align-items: center
  font-size: 30px
  margin-bottom: 30px
  font-family: Verdana, Geneva, Tahoma, sans-serif


.profile__name-label
  border: none
  -webkit-appearance: none
  -ms-appearance: none
  -moz-appearance: none
  appearance: none
  background: #f2f2f2
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  margin-bottom: 10px
    
    
.profile__email-label
  border: none
  -webkit-appearance: none
  -ms-appearance: none
  -moz-appearance: none
  appearance: none
  background: #f2f2f2
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  margin-bottom: 10px
  width: fit-content

.profile__name-input
    font-size: 20px
    font-family: Verdana, Geneva, Tahoma, sans-serif
    margin-bottom: 25px
    margin-top: 25px
    

.profile__email-input
    font-size: 20px
    font-family: Verdana, Geneva, Tahoma, sans-serif
    margin-bottom: 25px
    margin-top: 25px
    width: 200px


.profile__submit
  border: none
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  background-color: #557B83
  color: white
  width: fit-content
  display: flex
  margin-left: 105px

.update-password__link
  display: flex
  justify-content: center
  font-family: Verdana, Geneva, Tahoma, sans-serif
  margin-top: 10px
  color: #557B83

.delete-account__link
  display: flex
  justify-content: center
  font-family: Verdana, Geneva, Tahoma, sans-serif
  margin-top: 10px
  color: #557B83


.profile__log-out
  border: none
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  background-color: #557B83
  color: white
  margin-top: 45px
  width: fit-content
  display: flex
  margin-left: 125px


.profile__button-tournaments
  border: none
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  background-color: #b3ac4e
  color: white

.profile__button-create
  border: none
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  background-color: #b3ac4e
  color: white

.profile__buttons
    display: flex
    gap: 10px
    margin-bottom: 35px
    margin-left: 32px


.profile__field
  display: flex
  align-items: center
  gap: 8px
  width: 100%
