.register
  display: flex
  flex-direction: column
  width: 75%
  align-items: center
  margin-top: 10px

.register__form
  display: flex
  flex-direction: column
  margin-left: 30%

.register__title
  display: flex
  flex-direction: column
  align-items: center
  font-size: 30px
  margin-bottom: 30px
  font-family: Verdana, Geneva, Tahoma, sans-serif

.register__input-name
  border: none
  -webkit-appearance: none
  -ms-appearance: none
  -moz-appearance: none
  appearance: none
  background: #f2f2f2
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  margin-bottom: 10px

.register__input-email
  border: none
  -webkit-appearance: none
  -ms-appearance: none
  -moz-appearance: none
  appearance: none
  background: #f2f2f2
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  margin-bottom: 10px

.register__input-password
  border: none
  -webkit-appearance: none
  -ms-appearance: none
  -moz-appearance: none
  appearance: none
  background: #f2f2f2
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  margin-bottom: 10px

.register__button
  border: none
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  background-color: #557B83
  color: white


.login__link
  display: flex
  justify-content: center
  font-family: Verdana, Geneva, Tahoma, sans-serif
  margin-top: 10px
  color: #557B83
