.search
    width: 100%
    heigth: 40px
    border: 1px solid gray
    display: flex
    align-items: center
    border-radius: 5px

.search__input-title
  border: none
  -webkit-appearance: none
  -ms-appearance: none
  -moz-appearance: none
  appearance: none
  background: #f2f2f2
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif


.search__input-city
  border: none
  -webkit-appearance: none
  -ms-appearance: none
  -moz-appearance: none
  appearance: none
  background: #f2f2f2
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif

.search__input-date
  border: none
  -webkit-appearance: none
  -ms-appearance: none
  -moz-appearance: none
  appearance: none
  background: #f2f2f2
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif



.search__button
  border: none
  background: #557B83
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  width: 100%
  color: white

  

.search__form

  max-width: 600px
  margin: 0 auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-top: 40px
  gap: 20px
  border: none
  background: transparent

.search__title
    display: flex
    justify-content: center
    font-size: 20px
    font-weight: 600
    background: transparent
    font-family: Verdana, Geneva, Tahoma, sans-serif
  

  