.details__item
    padding: 25px 
    background-color: #D8D2CB

.details__title
    font-size: 25px
    font-family: sans-serif
    background-color:  #D8D2CB
    margin-bottom: 20px

.details__description
    font-size: 15px
    font-family: sans-serif
    padding-bottom: 10px
    background-color:  #D8D2CB

.details__location
    font-size: 15px
    font-family: sans-serif
    background-color: #D8D2CB

.details__date
    font-size: 15px
    font-family: sans-serif
    background-color:  #D8D2CB
    margin-bottom: 20px

.update-tournament__button
  border: none
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  background-color: #b3ac4e
  color: white
  

.delete-tournament__button
  border: none
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  background-color: #b3ac4e
  color: white
  padding-left: 10px
  margin-left: 10px