.update-password
  display: flex
  flex-direction: column
  width: 75%
  align-items: center
  margin-top: 50px

.update-password__form
  display: flex
  flex-direction: column
  margin-left: 30%

.current-password__label
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif

.current-password__input
  border: none
  -webkit-appearance: none
  -ms-appearance: none
  -moz-appearance: none
  appearance: none
  background: #f2f2f2
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  margin-bottom: 20px

.new-password__label
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif

.new-password__password-input
  border: none
  -webkit-appearance: none
  -ms-appearance: none
  -moz-appearance: none
  appearance: none
  background: #f2f2f2
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  margin-bottom: 20px

.confirm-password__label
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif

.confirm-password__input
  border: none
  -webkit-appearance: none
  -ms-appearance: none
  -moz-appearance: none
  appearance: none
  background: #f2f2f2
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  margin-bottom: 20px


.update-password__button
  border: none
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  background-color: #557B83
  color: white


.update-password__back-link
  display: flex
  justify-content: center
  font-family: Verdana, Geneva, Tahoma, sans-serif
  margin-top: 10px
  color: #557B83