.home
  display: flex
  flex-direction: column
  text-align: center
  height: 100vh

.home__header
  top: 0
  width: 100%
  height: 2rem
  display: flex
  align-items: center
  justify-content: space-evenly
  position: fixed


.home__logo
  height: 2.5rem
  padding: 0.3rem 0 0 0


.home__footer
  bottom: 0
  width: 100%
  background-color: green
  height: 2rem
  display: flex
  display: flex
  aling-items: end
  position: fixed