.results__list
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 2rem 0 6rem 0

.search__racket-icon
    margin: 3rem 
    opacity: .3
    height: 300px
    width: 300px