.login__button
  background-color: rgb(245, 242, 56)
  color: black
  border: none
  border-radius: 5px
  width: 6rem
  height: 2.2rem
  cursor: pointer
  margin: 10px 0px 

.login__wrapper
  display: flex
  flex-direction: column
  width: 75%
  align-items: center

.login__input
  border-bottom: black 1px solid
  width: 70%
  height: 2rem



