.update-password__form
  display: flex 
  flex-direction: column
  justify-content: center
  align-items: center

.update-password__button
  background-color: rgb(245, 242, 56)
  color: black
  border: none
  border-radius: 5px
  width: 6rem
  height: 2.2rem
  cursor: pointer
  margin: 10px 0px 

.update-password__input
    border-bottom: 1px black solid
    width: 100%

.update-password__link
    margin: 1rem