.dropdown
    display: flex
    align-items: center
    flex-direction: column
    width: 100%
    background-color: white
    height: fit-content
    z-index: 10
    position: absolute
    top: 43px
    position: fixed
    gap: 16px    
    padding: 8px
    font-size: 18px
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px



   