.Header
    width: 100%
    display: flex
    background-color: white
    position: sticky
    top: 0
    padding: 8px
    padding-bottom: 0

.container__icons 
    width: 100%
    display: flex
    justify-content: space-between
    margin: 0px 16px 0px 16px
    
.dropdown
    margin: 3%

.hamburguer__icon
    color: #533E85

.profile__menu
    text-decoration: none
    color: black
    box-shadow: rgba(87, 87, 172, 0.1) 0px 3px 0px  
   
.progress__menu
    text-decoration: none
    color: black
    box-shadow: rgba(87, 87, 172, 0.1) 0px 3px 0px

.advices__menu
    text-decoration: none
    color: black
    box-shadow: rgba(87, 87, 172, 0.1) 0px 3px 0px

.logout__menu
    text-decoration: none
    color: black
    box-shadow: rgba(87, 87, 172, 0.1) 0px 3px 0px 