.modal__text-area
    resize: none
    height: 300px
    border-radius: 5px
    margin-top: 40px
    padding: 8px
    font-size: 20px
    border: 2px solid gray
    &:focus
        outline: 0
        border: 2px solid #785cb7

.modal__form
    display: flex
    flex-direction: column
    gap: 24px
.icons
    display: flex
    justify-content: center
    align-items: center
    gap: 24px
    width: 300px
    font-size: 64px
    flex-wrap: wrap

.icon
    &__excelent
        color: rgba(0, 255, 0, 0.7)
    &__very-good
        color: rgba(53, 162, 235, 0.5)
    &__good
        color: rgba(255,255,0,0.7)
    &__not-so-bad
        color: rgba(255, 125, 0, 0.4)
    &__regular
        color: rgba(200, 0, 0, 0.7)
        

.text__icon
    font-size: 18px
    line-height: .5

.container__icon
    display: flex
    flex-direction: column
    align-items: center

