.backDrop 
  display: flex
  align-items: center
  justify-content: flex-start
  flex-direction: column
  position: fixed
  z-index: 10
  background-color: rgba(0, 0, 0, 0.25)
  height: 100vh
  width: 100%
  padding-top: 40px

.modal
  min-width: 260px
  height: fit-content
  background-color: white
  align-self: center
  padding: 32px
  display: flex
  justify-content: center
  flex-direction: column
  z-index: 10
  position: relative
  border-radius: 10px

.modal__close
  font-size: 32px
  top: 20px
  right: 20px
  cursor: pointer
  z-index: 10
  position: absolute