.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.search__form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 40px;
  background-color: var(--color-gray);
  border-radius: 20px;
}

.search__results-list {
  list-style-type: none;
}

.search__list-item {
  cursor: pointer;
}

.search__icon {
  position: relative;
  margin-right: 20px;
}

.search__query-input {
  width: 300px;
  background-color: transparent;
  user-select: none;
  border-radius: 20px;
}
