.home
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center 
    
.home-search
    display: flex
    flex-direction: column
    padding-top: 10rem

.home-results
    display: flex
    flex-direction: column
    padding-top: 3rem
    
