.profile__list
    display: flex
    flex-direction: column
    justify-content: center
    gap: 5rem
    align-items: center
    height: 500px
    padding: 8rem
    font-size: 20px

.profile__link-dates
    font-weight: bold
    border: 3px solid black
    border-radius: 8px
    padding: 1rem
    background: #93ad98

.profile__link-add-location
    font-weight: bold
    border: 3px solid black
    border-radius: 8px
    padding: 1rem
    background: #93ad98

.profile__link-my-locations
    font-weight: bold
    border: 3px solid black
    border-radius: 8px
    padding: 1rem
    background: #93ad98

.profile__link-delete-account 
    font-weight: bold
    border: 3px solid black
    border-radius: 8px
    padding: 1rem
    background: #93ad98

.profile__link-logOut
    font-weight: bold
    border: 3px solid black
    border-radius: 8px
    padding: 1rem
    background: #93ad98