.update-location__form
    display: flex
    flex-direction: column
    justify-content: center
    gap: 1rem
    align-items: left
    height: 500px
    padding: 8rem 8rem
    font-weight: bold
    

.update-location__type
    border: solid 1px black
    padding: 3px
    font-size: 12px
    width: 100px

.update-location__city
    border: solid 1px black
    padding: 3px
    font-size: 12px
    width: 100px

.update-location__title
    border: solid 1px black
    padding: 5px
    font-size: 14px

.update-location__image
    border: solid 1px black
    padding: 5px
    font-size: 14px

.update-location__address
    border: solid 1px black
    padding: 5px
    font-size: 14px

