.update-password__form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    justify-item: center
    gap: 1.5rem
    height: 500px
    padding: 6rem
    font-weight: bold
    margin-left: 4rem

.update-password__curr-password-input
    border: solid 1px black
    padding: 5px
    font-size: 14px

.update-password__password-input
    border: solid 1px black
    padding: 5px
    font-size: 14px

.update-password__re-password-input
    border: solid 1px black
    padding: 5px
    font-size: 14px
