.help
    align-items: center
    display: flex
    flex-direction: column
    text-align: center

.link__help
    color: #A81267
    text-decoration: none
    font-size: 200%
    gap: 10%px
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px
    margin: 3%




    