.landing
  display: flex
  flex-direction: column
  align-items: center
  background-size: cover
  margin: 0

.landing__title
  font-size: 50px
  border-color: blue

.landing__title
  font-weight: 900

.landing__container
  display: flex
  flex-direction: column
  gap: 16px
  width: 200px

  &:hover
    background-color: #772766

.landing__logo
  margin-bottom: 50px
  width: 150px
  height: 150px
  border-top: 10px solid #785cb7
  border-bottom: 10px solid #785cb7
  border-radius: 50%

.landing__title
  display: flex
  flex-direction: column
  max-width: 300px
  max-height: 300px
  margin-bottom: 80px