.progress
    align-items: center
    display: flex
    flex-direction: column
    border: none
    
.my__daily
    display: flex
    align-items: center
    border-radius: 5px
    padding: 24px
    background-color: white
    font-size: 20px
    text-align: center
    box-shadow: rgba(71, 71, 233, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset
    
.daily__quotes
    display: flex
    align-items: center
    flex-direction: column
    padding: 0

   