@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manjari&family=Oswald:wght@200&family=Poppins&family=Quicksand&family=Raleway:wght@100&family=Zen+Loop&display=swap');

* {
    font-size: 1.2rem;
    font-family:'Oswald', sans-serif;
  }
  
  html, body, #root {
    height: 100%;
    margin: 0;
    background-color: rgb(149, 188, 228);
  }
  
  button {
    cursor: pointer;
  }