.add {
    background-color: lightgray;
    padding: 1rem;
    border: 2px solid black;
}

.add__tittle {
    margin: 0;
}

.add__form {
    display: flex;
    gap: .2rem;
}

.add__input {
    width: 5rem;
}