.div {
    background-color: beige;
    padding: 1rem;
    border: 2px solid black;
}

.div__title {
    margin: 0;
}

.div__form {
    display: flex;
    gap: .2rem;
}

.div__input {
    width: 5rem;
}