.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 20px 0px black;
    margin: 1rem;
    padding: 2.8rem;
    border-radius: 5px;
}

.detail__image {
    width: 70vw;
    align-self: center;
}

.detail__fav {
    cursor: pointer;
    user-select: none;
}