.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    background-color: var(--background);
}

.home__header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home__logo {
    filter: invert(1);
    width: 8rem;
}


.home__logout-button {
    cursor: pointer;
}