.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

a{
text-decoration:none;
}

.landing{
   font-size: 40px;
}

.landing__login, .landing__register{

background-color: white;
padding: 5px;
margin: 15px;
border-radius: 30%;
box-shadow: 0px 15px 15px 0px black ;
font-family: 'Gochi Hand', cursive;
-webkit-text-fill-color: yellow;
-webkit-text-stroke: 0.8px black;
font-size: 40px;

}
