.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.search__form {
    display: flex;
    gap: .5rem;
}

.search__results-list {
    list-style-type: none;
}

.search__list-item {
    cursor: pointer;
}