.header
    display: flex
    align-items: center
    width: 100%
    height: auto
    background-color: #05595B

    .header-title
        background-color: #05595B
        color: #E2D784
        font-family: 'Hurricane', cursive