/* reusable components */


.off {
    display: none !important;
}

.pannel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}