.landing {
    background-color: var(--primary-color);
    height: 280px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0px 0px 50px 20px;
    color: var(--secundary-color)
}

.landing__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.landing__login {
    background-color: var(--color-link);
    padding: 16px;
    border-radius: 3px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing__register {
    background-color:var(--color-link);
    padding: 16px;
    border-radius: 3px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing__text {
    color: var(--color-white)
}

@media only screen and (max-width: 475px) {
    .landing {
        box-shadow: none;
        width: 100%;
        border-radius: 0;
        height: 100vh;
    }   

    .landing__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;

    }

    .landing__login {
        background-color: var(--color-link);
        padding: 16px;
        border-radius: 3px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .landing__register {
        background-color:var(--color-link);
        padding: 16px;
        border-radius: 3px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .landing__text {
        display: flex;
        justify-content: center;
        padding: 10px;
        color: var(--color-dark)
    }
}