.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.register__form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: 0px 0px 20px 0px black;
    padding: 3rem;
    border-radius: 5px;
    background-color: white;
}

.register__button{
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
}

.register__button:hover{
    background-color: rgb(92, 238, 189);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register__login-link {
    text-align: center;
    text-align: center;
    color: burlywood;
    border-radius: 5px;
    cursor: pointer;
}


.register__input-style{
    border: 2px solid black;
    box-shadow: 0px 10px 10px 0px black;
    margin: 8px;
    font-family: 'Gochi Hand', cursive;
}

.register__login-link{
    margin-top: 10px;
}

.insecure{
    background-color: red;
    width: 200px;
    height: 40px;
    
}