.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.profile__form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.profile__update-password-link, .profile__delete-account-link {
    text-align: center;
}