@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

*{
  font-family: 'Handlee', cursive;
  font-size: 1rem;
}
html, body, #root{
  height: 100%;
  margin: 0;
}

body {
  padding: 1rem;
  background-color: rgb(245, 215, 219);
}