@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

*{
    font-size: 12px;
    font-family: 'Poppins';
    text-decoration: none;
    color: black;
    font-weight: 400px;
    margin: 0px;
    padding: 0px;
    border:0px;
    outline: 0;
    font-style: normal;
    list-style: none;
    tab-size: 0;
    border-radius: 0;
}

html, body {
    width: 100%;
    height: auto;
    
}

.body{

    display: flex;
    clip-path: inset(0 0 0 25%);
    background-color: wheat;
}

.main{
    
}

.header {
   
}

.img {

    display: flex;
    justify-content: flex-start;
     margin: 20px;
    
 }


.nav {
display:flex;
justify-content: space-evenly;
padding: 15px;
background-color: firebrick;

}

.nav :hover{
    color: wheat;
}

.section {
    
    background-color: green;
}

#aboutMe, #formacion, #complementaria, #jobs, #idiomas, #habilidades {
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;
}

.name {
    color: white;
    text-align: end;
    font-size: 26px;
    background-color: firebrick;
    padding: 15px;
    border-radius: 10px;
    border-color: black;

}

.data{
    padding: 10px;
}

.me {
 display: flex;
 text-align: center;
}


.footer {
background-color: firebrick;
display: flex;
justify-content:space-evenly;
padding: 15px;

}

.footer a {
    color: wheat;
}

.footer :hover {
    color: white;
}

