.retrieve-vehicle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.retrieve-vehicle__list {
    display: flex;
    gap: .5rem;
}