@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');


.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}


. {
    font-family: 'Supermercado One', cursive;
}

/*ver ejemplo de ventu*/ 