@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap')

*
    font-size: 12px
    font-family: 'Hind Siliguri', sans-serif
    text-decoration: none
    color: black
    font-weight: 400px
    margin: 0px
    padding: 0px
    border:0px
    outline: 0
    font-style: normal
    list-style: none
    tab-size: 0
    border-radius: 0
    background-color: transparent


html, body 
    background-color: #3687FF
    width: 100%
    min-height: 100vh

