.feedback {
    font-weight: bold;
    color: white;
    padding: .5rem;
    text-align: center;
    border: .5rem dashed white;
    border-radius: 1rem;
}

.feedback--info {
    background-color: black;
}

.feedback--success {
    background-color: green;
}

.feedback--warn {
    background-color: gold;
}

.feedback--error {
    background-color: tomato;
}

.feedback--mini {
    font-size: .8rem;
    text-align: right;
    background-color: transparent;
    padding: 0 .1rem .5rem .1rem;
}

.feedback--info.feedback--mini {
    color: black;
}

.feedback--success.feedback--mini {
    color: green;
}

.feedback--warn.feedback--mini {
    color: gold;
}

.feedback--error.feedback--mini {
    color: tomato;
}