.update-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.update-password__form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.update-password__curr-password-area, .update-password__password-area, .update-password__re-password-area {
    display: grid;
    grid-template-columns: [one] 82% [two] 18% [three];
    grid-template-rows: [first] 1fr [second];
    width: fit-content;
}

.update-password__curr-password-input, .update-password__password-input, .update-password__re-password-input {
    grid-column: one / three;
    grid-row: first / second;
}

.curr-password__toggle-icon, .password__toggle-icon, .re-password__toggle-icon {
    grid-column: two / three;
    grid-row: first / second;
    background-position: 0;
    background-size: contain;
    cursor: pointer;
}

.curr-password__toggle-icon--show, .password__toggle-icon--show, .re-password__toggle-icon--show {
    background-image: url('../images/eye.png');
}

.curr-password__toggle-icon--hide, .password__toggle-icon--hide, .re-password__toggle-icon--hide {
    background-image: url('../images/closed-eye.png');
}

.update-password__submit { 
    width: 100%;
    background-color: mintcream;
    border: none;
    margin: 1rem 0;
    padding: 0.4rem;
    border-radius: 8px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
    font-size: 12px;
}


.update-password__back-link {
    text-align: center;
}

