.button 
    padding: 8px
    background-color: #61A4BC
    border: none
    color: white
    width: 100px
    justify-content: space-between
    align-items: center
    transition: 0.3s
    cursor: pointer
    text-align: center

    
.button:hover 
    background-color: #499255
    transform: scale(1.1)
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px