.password {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.password__body {
    display: flex;
    border: 1px solid black;
    align-items: center;
    border-radius: .2rem;
    width: 100%;
    justify-content: space-between;
}

.password__body--error {
    border-color: tomato;
}

.password:focus-within {
    border-color: dodgerblue;
}

.password__input {
    border: none;
    outline: none;
    background-color: transparent;
}

.password__icon {
    margin: 0 .5rem;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    font-size: .9rem;
}