.header
    background-color: #8FBDD3
    display: flex
    align-items: center
    width: 100vw
    height: 100%
    justify-content: space-between

.IconLogo
    margin: 5px
    justify-content: start

.IconProfile
    margin: 20px

.header_Title
    justify-content: center


 


