.delete-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.delete-account__form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.delete-account__password-area {
    display: grid;
    grid-template-columns: [one] 82% [two] 18% [three];
    grid-template-rows: [first] 1fr [second];
    width: fit-content;
 }
 
 .delete-account__password-input {
    grid-column: one / three;
    grid-row: first / second;
 }
 
 .delete-account__toggle-icon {
    grid-column: two / three;
    grid-row: first / second;
    background-position: 0;
    background-size: cover;
    cursor: pointer;
 }
 
 .delete-account__toggle-icon--show {
    background-image: url('../images/eye-open.png');
 }
 
 .delete-account__toggle-icon--hide {
    background-image: url('../images/eye-close.png');
 }


 .delete-account__password-warning-caps {
    font-weight: bold;
    color: tomato;
    font-size: 1rem;
    text-align: right;
}

.delete-account__back-link {
    text-align: center;
}

