.update-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.update-password__form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.update-password__curr-password-area, .update-password__password-area, .update-password__re-password-area {
    display: grid;
    grid-template-columns: [one] 82% [two] 18% [three];
    grid-template-rows: [first] 1fr [second];
    width: fit-content;
}

.update-password__curr-password-input, .update-password__password-input, .update-password__re-password-input {
    grid-column: one / three;
    grid-row: first / second;
}

.curr-password__toggle-icon, .password__toggle-icon, .re-password__toggle-icon {
    grid-column: two / three;
    grid-row: first / second;
    background-position: 0;
    background-size: cover;
    cursor: pointer;
}

.curr-password__toggle-icon--show, .password__toggle-icon--show, .re-password__toggle-icon--show {
    background-image: url('../images/eye-open.png');
}

.curr-password__toggle-icon--hide, .password__toggle-icon--hide, .re-password__toggle-icon--hide {
    background-image: url('../images/eye-close.png');
}

.update-password__curr-password-warning-caps, .update-password__password-warning-caps, .update-password__re-password-warning-caps {
    color: gray;
    font-size: 0.8rem;
    text-align: right;
}


.update-password__back-link {
    text-align: center;
}
