@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap'); */

* {
    box-sizing: border-box;
    font-family: 'Ubuntu Mono';
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}



.container--column {
    flex-direction: column;
    width: 40%;
    margin-left: 500px;
}

.table {
    border: 1px solid black;
    
}

.table thead {
    background-color: lightblue;
}

.table th {
    text-align: left;
    padding: 0 10px;
}

.table td {
    padding: 0 10px;
}


.show-all {
    background-color: #333;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 50px;
    margin-top: 10px;
    cursor: pointer;
    
}

body {
    background-color: rgb(95, 113, 119);
    
}

.title {
    text-align: center;
    padding-bottom: 30px;
    font-size: 3rem;
    
}

.id {
    height: 25px;
    margin-bottom: 30px;
    border-radius: 50px;
    border: none;
    padding-left: 10px;
    cursor: pointer;
}

.first-name {
    
    height: 25px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: none;
    padding-left: 10px;
    cursor: pointer;
}

.last-name {
    height: 25px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: none;
    padding-left: 10px;
    cursor: pointer;
}

.gender {
    height: 25px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: none;
    padding-left: 10px;
    cursor: pointer;
}

.year {
    height: 25px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: none;
    padding-left: 10px;
    cursor: pointer;
}

.blood-type {
    height: 25px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: none;
    padding-left: 10px;
    cursor: pointer;
}

