.comment-card
    display: flex
    flex-direction: row
    gap: 2rem

    &:first-child
        margin-bottom: 30px


.comment-card__inside
    display: flex
    flex-direction: column
    gap: .5rem







    