.header
    display: flex
    flex-direction: row
    justify-content: space-evenly
    background-color: gold
    width: 32rem
    position: fixed
    top: 0
    padding-bottom: 1rem
    border-bottom: .5px solid grey
    height: 50px

.logo
    display: flex
    flex-direction: row
    width: 5px 
