.comments
    display: flex
    flex-direction: column
    justify-content: center
    

.comments__opening
    font-size: 12px
    font-weight: bold
    margin-bottom: 0.5rem

.comments__list
    height: 100vh