.card
    display: flex
    flex-direction: column
    background-color: white
    margin: 1rem 1rem
    padding: 1rem
    //border-radius: 10px 
    border: solid 
    //box-shadow: 2px 2px 2px 1px 

    &:last-child
        margin-bottom: 72px


.card__toggle-favorite
    display: flex
    width: 1rem

img 
    width: 100px
