.login-form
  display: flex
  flex-direction: column
  align-items: center
  gap: 1rem 
  justify-content: center
  height: 100vh
  width: 100%
  background: linear-gradient(to bottom, #3A5F42, #93ad98)

.login-form__name
  display: flex
  justify-content: center
  align-items: center
  width: 150px
  font-size: 40px
  font-weight: bold
  margin-bottom:  7rem





