.navigation__menu
    display: flex
    flex-direction: row
    justify-content: space-around
    align-content: center
    background: linear-gradient(to bottom, #3A5F42, #93ad98)
    width: 100%
    position: fixed
    bottom: 0
    padding-top: 1rem
    border-top: .5px solid grey
    
.icon-medium
    width: 40px