.button 
    padding: 3px
    background-color: #062C30
    border: none
    color: #E2D784
    width: 100px
    justify-content: center
    align-items: center
    display: flex
    border-radius: 5px
    transition: 0.3s
    cursor: pointer

.button:hover 
    background-color: #b4a530
    transform: scale(1.1)
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
