.button 
    padding: 3px
    background-color: #F4717F
    border: none
    color: white
    justify-content: center
    align-items: center
    display: flex
    border-radius: 5px
    transition: 0.3s
    cursor: pointer
    font-size: 18px
    height: 36px

.button:hover 
    background-color: #F4717F
    opacity: 0.7
    transform: scale(1.1)
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
