$layout-breakpoint-small: 760px
$layout-breakpoint-medium: 1110px

.detail
    display: flex
    justify-content: center
 
.cards-wrapper-detail
    width: 100%
    height: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center
    max-width: 1120px
    padding-left: 15px
    padding-right: 15px

.cards-wrapper__big-cards-wrapper-detail
    width: 90%
    max-width: 1200px
    margin-left: 6px
    padding: 15px
    border-radius: 12px
    background-color: #E9E3E3
    margin-top: 20px
    margin-bottom: 20px
    box-shadow: 0 0 15px lightgrey
    

.cards-wrapper__image-wrapper-detail
    display: flex
    justify-content: center

.unkown-image-detail
    width: 80%
    max-height: 300px
    object-fit: cover
    border-radius: 9px

.image-detail
    width: 85%
    max-height: 500px
    object-fit: cover
    border-radius: 9px

.card-wrapper__attributes-wrapper-detail
    padding: 15px
    width: 85%
    height: 100%
    margin-left: auto
    margin-right: auto

.card-wrapper__attributes-wrapper-detail-flex
    display: flex

.card-wrapper__attribute-wrapper-detail-titles
    display: flex
    flex-direction: column
    margin-right: 20px

.card-wrapper__attribute-wrapper-detail-attributes
    display: flex
    flex-direction: column
    max-width: 300px

.card-wrapper__attribute-wrapper__title-detail
    font-size: 20px
    margin-bottom: 20px

.card-wrapper__attribute-wrapper__attribute-detail
    font-size: 20px
    margin-bottom: 20px
.card-wrapper__buttons-wrapper
    display: flex
    justify-content: space-between
    flex-direction: column
    width: 100%
    margin-top: 15px
    margin-bottom: 15px

.card-wrapper__button-wrapper
    display: flex
    width: 40%
    justify-content: space-between
    height: 36px
    font-size: 30px

.card-wrapper__button-wrapper
    width: 100%
    margin-bottom: 10px


.detail-product__button
    width: 100%


@media (max-width: $layout-breakpoint-medium)
    .cards-wrapper__small-cards-wrapper-detail
        width: 45%
        

@media (max-width: $layout-breakpoint-small)
    .cards-wrapper__small-cards-wrapper-detail
        width: 90%
        margin-left: auto
        margin-right: auto
        padding: 0px

    .card-wrapper__attributes-wrapper-detail
        padding: 0px
        margin-top: 25px

    
    .card-wrapper__attribute-wrapper__title-detail
        font-size: 15px
        min-height: 34px

    .card-wrapper__attribute-wrapper__attribute-detail
        font-size: 15px
        min-height: 34px

    .card-wrapper__attribute-wrapper-detail-titles
        margin-right: 20px

    .product-id-mobile
        overflow-wrap: anywhere

    .description-mobile
        overflow-wrap: anywhere
