@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

* {
    font-family: 'Supermercado One', cursive;
    font-size: 80px;
    /* background-color: rgb(236, 236, 18); */
}



