.cart__list {
    list-style-type: none;
}

.cart__item {
    cursor: pointer;
}

.cart__item-fav-button {
    display: block;
}

.cart__item-image {
    width: 50vw;
}

.cart__total {
    text-align: right;
}