.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 2rem;
}

.home__header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home__logo {
    filter: invert(1);
    width: 8rem;
}

.home__logout-button {
    cursor: pointer;
}

.home__menu-link--active {
    color: white;
    background-color:  black;
}