.racket-details__container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 4rem 0

.racket-details__racket-details
    display: flex
    justify-content: space-evenly
    align-items: center
    background-color: white
    margin-top: 2rem
    padding: 2rem
    border-radius: 5px
    box-shadow: 0px 0px 20px 0px
    gap: 5px

.racket-details__racket-comment
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 70%
    margin: 2rem
    margin: 2rem 2rem 0 0
   