.search-user-racket__container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 6rem 0 

.search-user-racket__container h1 
    color: rgb(245, 242, 56)