
.progress {
    display: block;
    background-color: silver;
    height: .5rem;
    border-radius: .25rem;
}

.progress__bar {
    height: inherit;
    border-radius: inherit;
}

.progress--low>.progress__bar {
    background-color: indianred;
}

.progress--medium>.progress__bar {
    background-color: gold;
}

.progress--high>.progress__bar {
    background-color: yellowgreen;
}