.details {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    align-items: center;
    max-width: 600px;
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 13px;
    padding: 0px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    
}

.details__image {
    width: 85%;
    align-self: center;


}

.details__attributes-wrapper {
    display: flex;
    width: 100%;
}

.details__attributes {
    display: flex;
    width: 50%;  
}

.details__attributes__title{
    font-weight: 700;
}