@use '../../../index' as *

.input-underlined input
    width: 100%
    background-color: $milk
    border-bottom: solid $cactiGreen
    padding: .5rem
    border-radius: 0.3rem
    margin: 0.2rem
    font-size: 12px
    width: 100%

.input-bordered input
    background-color: $milk
    border: solid $cactiGreen
    padding: .5rem
    border-radius: 0.3rem
    margin: 0.2rem
    font-size: 12px
    width: 100%

.input__div
    display: flex
