.input
    background-color: #f8f8f8
    border: 1px solid #34bcd2
    -webkit-user-select: none
    user-select: none
    outline: none
    border-radius: 12px
    height: 26px
    width: 90%
    padding-left: 10px
    color: #000
    max-width: 300px
    margin-bottom: 20px