@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap'); */

* {
  box-sizing: border-box;
  font-family: "Ubuntu Mono";
  /* font-family: 'Homemade Apple'; */
}

.off {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
}

.container--column {
  flex-direction: column;
}

.table {
  border: 1px solid black;
}

.table thead {
  background-color: lightblue;
}

.table th {
  text-align: left;
  padding: 0 10px;
}

.table td {
  padding: 0 10px;
}

.file__info {
  display: flex;
  justify-content: space-evenly;
}

.file__info > div {
  display: flex;
  margin: 10px;
  align-items: center;
  flex-direction: column;
}

.file__info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.file label {
  width: 150px;
}

.file input {
  width: 250px;
  padding: 10px;
}

.file__comments {
  display: flex;
  flex-direction: column;
}
