.container {
    min-height: 100vh;
}

.container--light {
    background-color: whitesmoke;
}

.container--dark {
    background-color: #1d1d1d;
}

.container--dark :is(a, span, h1, h2, h3, label) {
    color: #fff;
}

.container--dark img {
    filter: invert(0%);
}