.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 2rem;
}

.home__header{
    width: 100%;
    text-align: right;
    background-color: powderblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


.home__user{
    display: inline;
    align-self: center;
}

