.results-list{
    list-style-type:none;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.results__list-item{
    cursor:pointer;
    border: 1px solid powderblue;
}