.header
    background-color: #557B83
    display: flex
    height: fit-content
    align-items: center
    width: 100%
    justify-content: space-between
    padding: 0px 20px 0px 20px
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px
    position: sticky 
    top: 0

    &__icon-profile
        font-size: 36px
        background-color: #557B83
        color: white


    