.modal__update-tournament
    background-color: #557B83
    
.update-tournament__form
    background-color: #557B83
    
.update-tournament__title
  display: flex
  flex-direction: column
  align-items: center
  font-size: 25px
  margin-bottom: 30px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  border-radius: 10px
  padding-left: 10px
  background-color: #557B83

.update-title__input
    font-size: 20px
    font-family: Verdana, Geneva, Tahoma, sans-serif
    margin-bottom: 25px
    margin-top: 25px
    border-radius: 10px
    padding-left: 10px

.update-description__textarea
    font-size: 20px
    font-family: Verdana, Geneva, Tahoma, sans-serif
    margin-bottom: 25px
    margin-top: 25px
    border-radius: 10px
    padding-left: 10px
    height: 70px

.update-location__input
    font-size: 20px
    font-family: Verdana, Geneva, Tahoma, sans-serif
    margin-bottom: 25px
    margin-top: 25px
    border-radius: 10px
    padding-left: 10px

.update-date__input
    font-size: 20px
    font-family: Verdana, Geneva, Tahoma, sans-serif
    margin-bottom: 25px
    margin-top: 25px
    border-radius: 10px
    padding-left: 10px

.update__button
  border: none
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  background-color: #b3ac4e
  color: white
  display: flex
  