.modal__create-tournament
    background-color: #557B83

    
.create-tournament__form
    background-color: #557B83
    margin-top: 24px
    
    
.tournament__title
  display: flex
  flex-direction: column
  align-items: center
  font-size: 25px
  margin-bottom: 30px
  font-family: Verdana, Geneva, Tahoma, sans-
  border-radius: 10px
  padding-left: 10px
  background-color: #557B83

.create-title__input
    font-size: 20px
    font-family: Verdana, Geneva, Tahoma, sans-serif
    margin-bottom: 25px
    margin-top: 25px
    border-radius: 10px
    padding-left: 10px

.create-description__textarea
    font-size: 20px
    font-family: Verdana, Geneva, Tahoma, sans-serif
    margin-bottom: 25px
    margin-top: 25px
    border-radius: 10px
    padding-left: 10px
    height: 70px


.create-location__input
    font-size: 20px
    font-family: Verdana, Geneva, Tahoma, sans-serif
    margin-bottom: 25px
    margin-top: 25px
    border-radius: 10px
    padding-left: 10px


.create-date__input
    font-size: 20px
    font-family: Verdana, Geneva, Tahoma, sans-serif
    margin-bottom: 25px
    margin-top: 25px
    border-radius: 10px
    padding-left: 10px


.create__button
  border: none
  padding: 12px
  border-radius: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif
  background-color: #b3ac4e
  color: white
  display: flex