.div{
    background-color: dodgerblue;
    padding: 1rem;
    width:100%;
    max-width:300px;   
}

.div__title{
    margin:0;
}

.div__form{
    display:flex;
    gap: 0.5rem;
    justify-content: center;
}

.div__input{
    width: 4rem;
}