.profile-wrapper
    display: flex
    flex-direction: column
    align-items: center

.profile__field
    display: flex
    flex-direction: column
    margin-bottom: 15px

.profile__label
    font-size: 12px

.profile__input
    background-color: #f8f8f8
    border: 1px solid #34bcd2
    -webkit-user-select: none
    user-select: none
    outline: none
    border-radius: 12px
    height: 26px
    width: 90%
    padding-left: 10px
    color: #000

.update-profile-button-wrapper
    width: 100%
    max-width: 180px
    height: 28px
    margin-bottom: 15px

.logout-button
   background-color: white!important
   border: 1px solid #00768b!important
   color: #00768b!important
   height: 28px

.anchor-wrapper
    width: 100%
    display: flex
    justify-content: space-evenly
    flex-direction: column
    align-items: center

a
    font-size: 14px
    margin-top: 10px
