.password-input__text-capsLock {
  color: var(--warning);
}

.password {
  display: flex;
  background-color: var(--color-gray);
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.password--error {
  border: 1px solid red;
}

.password__icon {
  margin-right: 12px;
  user-select: none;
}
